.page-template-page-amenities-page {
    #primary {
        @include media($tablet) {
            @include span-columns(6);
            @include shift(1);
        }
        .entry-header {
            text-align: left;
        }
        .entry-content {
            text-align: left;

            h2 {
                color: $red;
                font-family: $font-cabin-bold;
                margin: 0;
            }
            p {
                margin-top: 0;
            }
        }
    }
    #secondary {
        @include media($tablet) {
            @include span-columns(4);
            @include shift(1);
            @include omega();
                margin-top: 1em;
        }
    }
}