// _content.scss
#content {
    @include outer-container();
    padding: 0 em(10);
    text-align: center;
    .entry-content {
        font-family: $font-cabin-regular;
        padding: 0 em(10);
        margin: 0 auto;
    }
    @include respond-to(iphone) {
            h1 {
                font-size: 1.8em;
            }
            h2 {
                font-size: 1.15em;
            }
            .entry-content {
                p {
                    font-size: 1em;
                }
            }
    }
    @include respond-to(tablet) {
        padding: 0 em(20);
        h1 {
            font-size: 2em;
        }
        h2 {
            font-size: 1.3em;
        }
        .entry-content {
            p {
                font-size: 1.1em;
            }
        }
    }
    @include respond-to(laptop) {
            h1 {
                font-size: 2.5em;
            }
            h2 {
                font-size: 1.5em;
            }
            .entry-content {
                p {
                    font-size: 1.2em;
                }
            }
    }
    @include respond-to(desktop) {
            h1 {
                font-size: 2.8em;
            }
            h2 {
                font-size: 1.8em;
            }
            .entry-content {
                p {
                    font-size: 1.3em;
                }
            }
    }
}