//  footer.scss
.site-footer {
    height: auto;
    background-color: $red;
    color: $white;
    @include pad(em(20px) em(30px) em(50px) em(30px));
    font-size: .7em;
    display: block;
    margin-top: 35px;
    .footer-address-section {
        width: 40%;
        text-align: left;
        float: left;
        .footer-phone {
            font-size: 1.5em;
        }
    }
    .footer-equal-housing {
        width: 55%;
        text-align: right;
        float: right;
    }
}