//  footer.scss
.site-footer {
    background-color: $red;
    color: $white;
    .footer-address-section {
        .footer-phone {
            font-size: 1.5em;
        }
    }
    .footer-equal-housing {
        display: block;
        svg  {
            width: em(60);
        }
    }
    @include respond-to(iphone) {
        padding: 10px;
        font-size: .6em;
        .footer-address-section {
            text-align:center;
        }
        .footer-equal-housing {
            text-align: center;
            svg {
                display: block;
                margin: 10px auto;
            }
            .footer-disclaimer {
                display: block;
            }
        }
    }
    @include respond-to(tablet) {
        margin-top: em(30px);
        font-size: .7em;
        .footer-address-section {
            width: 40%;
            padding-right: 50px;
            text-align: left;
            float: left;
        }
        .footer-equal-housing {
            display: block;
            width: 60%;
            float: right;
            text-align: right;
            svg  {
                width: 60px;
                float: right;
                margin-left: 10px;
            }
            .footer-disclaimer {
                margin: 2px 70px 0 0;
            }
        }
    }
    @include respond-to(laptop) {
        padding: 30px;
        font-size: .8em;
    }
}