#masthead {
    background-color: #fff;
    color: #000;
    &:after {
        content: '';
        display: block;
        height: 2px;
        background-color: $red;
    }
    .flex-wrapper {
        display:flex;
        flex-wrap: no-wrap;
        justify-content: space-between;
        align-items: flex-end;
        .flex-item {
            flex: 1 1 auto;
        }
        .site-branding {
            max-width: 225px;
            .custom-logo {
                // display: block;
            }
            .custom-logo-link {
                // display: block;
            }
        }
        .phone-wrapper {
            text-align: right;
            .masthead-tel {
                font-family:$font-times-regular;
                font-style: italic;
                a {
                    color: $red;
                    text-decoration: none;
                }
                span {
                    font-family: $font-cabin-bold;
                }
            }
            .main-navigation li {
                padding: 20px;
                font-size: 1.3em;
                a{
                    color: $blackness;
                }
            }
        }
    }
    @include respond-to(iphone) {
        .flex-wrapper {
            padding: 10px;
            margin-bottom: 10px;
            .masthead-tel {
                visibility: collapse;
                padding-bottom: 10px;
                span {
                    visibility: visible;
                }
            }
        }
    }
}