#masthead {
    background-color: #fff;
    color: #000;

    &:after {
        content: '';
        display: block;
        height: 2px;
        background-color: $red;
    }
    .flex-wrapper {
        padding: 20px;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;

        .flex-item {
            flex: 1 1 auto;
        }
        .site-branding {
            width: 55%;
            max-width: 225px;

            .custom-logo {
                display: block;
            }

            .custom-logo-link {
                display: block;
                padding-bottom: 30px;
            }
        }
        .phone-wrapper {
            text-align: right;
            .masthead-tel {
                font-family:$font-times-regular;
                font-size: 1.3em;
                font-style: italic;
                a {
                    color: $red;
                    text-decoration: none;
                }

                span {
                    font-family: $font-cabin-bold;
                    font-style: normal;
                    font-size: 1.4em;
                }
            }
            .main-navigation li {
                padding: 20px;
                font-size: 1.3em;
                &:last-child {
                    padding-right: 0;
                }
                a{
                    color: $blackness;
                }
            }
        }
    }







    // @include respond-to(x-small) {
    //     .masthead-tel {
    //         font-size: 1em;
    //     }
    // }

    // @include respond-to(small) {
    //     .site-branding {
    //         max-width: 275px;
    //     }

    //     .masthead-tel {
    //         span {
    //             display: inline;
    //         }
    //     }
    // }

    // @include respond-to(large) {
    //     padding-top: 25px;

    //     .site-branding {
    //         padding-bottom: 5px;
    //         max-width: 300px;

    //         .custom-logo-link {
    //             padding-bottom: 0;
    //         }
    //     }
    //     .flex-item {
    //         position: relative;

    //         .masthead-tel {
    //             padding-top: 0;
    //         }
    //     }
    // }
}