#masthead {
    background-color: #fff;
    padding-top: 10px;
    color: #000;

    &:after {
        content: '';
        display: block;
        height: 2px;
        background-color: $red;
    }
    .flex-wrapper {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .flex-item {
            flex: 1 1 auto;
        }
        .site-branding {
            width: 55%;
            max-width: 225px;

            .custom-logo {
                display: block;
            }

            .custom-logo-link {
                display: block;
                padding-bottom: 30px;
            }
        }
        .phone-wrapper {
            .masthead-tel {
                font-family:$font__main;
                font-size: .875em;
                color: $red;

                span {
                    font-family: $font__main;
                }
            }
        }
    }







    // @include respond-to(x-small) {
    //     .masthead-tel {
    //         font-size: 1em;
    //     }
    // }

    // @include respond-to(small) {
    //     .site-branding {
    //         max-width: 275px;
    //     }

    //     .masthead-tel {
    //         span {
    //             display: inline;
    //         }
    //     }
    // }

    // @include respond-to(large) {
    //     padding-top: 25px;

    //     .site-branding {
    //         padding-bottom: 5px;
    //         max-width: 300px;

    //         .custom-logo-link {
    //             padding-bottom: 0;
    //         }
    //     }
    //     .flex-item {
    //         position: relative;

    //         .masthead-tel {
    //             padding-top: 0;
    //         }
    //     }
    // }
}