.page-template-front-page {
    #slider {
        border: none;
        padding: 0;
        margin: 0;
        // Flexslider
        .flex-control-nav {
            z-index: 999;
            li a {
              display: block;
              border: 2px solid $white;
              background: $red;
              cursor: pointer;
              text-indent: -9999px;
              -webkit-border-radius: 0;
              -moz-border-radius: 0;
              border-radius: 0;
            }
            .flex-active {
                background: $yellow;
            }
        }
    }
    .entry-title {
        display: none;
    }
    .entry-content {
        text-align: center;
        h1 {
            font-family: $font-times-regular;
        }
        p {
            font-family: $font-cabin-regular;
        }
    }
    .highlight-box {
      background-color: $black;
      text-align: center;
      position: relative;
      img {
        display: block;
        opacity: .6;
      }
      span {
         color: $white;
         font-family: $font-times-regular;
         line-height: 1;
         display: block;
      }
    }
    @include respond-to(iphone) {
      #slider {
        .flex-control-nav {
          bottom: 20%;
          li a {
            width: 20px;
            height: 20px;
          }
        }
      }
      .highlight-box {
        margin: 10px 0;
        span {
          font-size: 1.5em;
          top: 40%;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          z-index: 10;
        }
      }
    }
    @include respond-to(tablet) {
      #slider {
        .flex-control-nav {
          bottom: 10%;
          li a {
            width: 30px;
            height: 30px;
          }
        }
      }
      .highlight-box {
        float: left;
        width: 31.6666666%;
        margin: 5px;
        span {
          font-size: 1.6em;
          top: 30%;
        }
      }
    }
    @include respond-to(laptop) {
      #slider {
        .flex-control-nav {
          li a {
            width: 35px;
            height: 35px;
          }
        }
      }
      .highlight-box {
        width: 31.222222%;
        margin: 10px;
        span {
          font-size: 2em;
          top: 30%;
        }
      }
    }
    @include respond-to(desktop) {
      .highlight-box {
        span {
          font-size: 3em;
          top: 30%;
          left: 40%;
          transform: translateX(-30%);
          z-index: 10;
        }
      }
    }
}
