.page-template-front-page {
	#slider {
		border: none;
		padding: 0;
		margin: 0;
		.flex-control-nav {
			display: none;
		}
	}
	.entry-title {
		display: none;
	}
	.highlight-box {
	  background-color: $black;
	  text-align: center;
	  position: relative;
	  img {
		display: block;
		opacity: .6;
	  }
	  span {
		 color: $white;
		 font-family: $font-times-regular;
		 line-height: 1;
		 display: block;
		 top: 30%;
	  }
	}
	@include respond-to(iphone) {
	  .highlight-box {
		margin: 10px 0;
		span {
		  font-size: 2em;
		  position: absolute;
		  left: 50%;
		  transform: translateX(-50%);
		  z-index: 10;
		}
	  }
	}
	@include respond-to(mobile) {
		.highlight-box {
			span {
				font-size: 3em;
			}
		}
	}
	@include respond-to(tablet) {
	  .highlight-box {
		float: left;
		width: 31.6666666%;
		margin: em(5);
		span {
		  font-size: 1.6em;
		}
	  }
	}
	@include respond-to(laptop) {
	  .highlight-box {
		width: 31.222222%;
		margin: em(10);
		span {
		  font-size: 2em;
		}
	  }
	}
	@include respond-to(desktop) {
		#slider {
			.flex-control-nav {
				display: block;
				z-index: 999;
				bottom: 10%;
				li a {
				  display: block;
				  width: em(35);
				  height: em(35);
				  border: 2px solid $white;
				  background: $red;
				  cursor: pointer;
				  text-indent: -9999px;
				  border-radius: 0;
				}
				.flex-active {
					background: $yellow;
				}
			}
		}
	  .highlight-box {
		span {
		  font-size: 3em;
		  left: 30%;
		  transform: translateX(-20%);
		}
	  }
	}
}
