// photo-gallery.scss

.page-template-page-photo-gallery-page {
    #slider, #thumbnail-slider {
        margin-bottom: em(5);
        border: none;
    }
    .flex-direction-nav {
        display: none;
    }
}

