// photo-gallery.scss

.page-template-page-photo-gallery-page {
    #slider, #thumbnail-slider {
        margin-bottom: 5px;
        border: none;
    }
    .flex-direction-nav {
        display: none;
    }
}

