@font-face {
  font-family: 'TimesNewRomanPSMT';
  src: url('TimesNewRomanPSMT.eot?#iefix') format('embedded-opentype'),  url('TimesNewRomanPSMT.woff') format('woff'), url('TimesNewRomanPSMT.ttf')  format('truetype'), url('TimesNewRomanPSMT.svg#TimesNewRomanPSMT') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cabin-Bold';
  src: url('Cabin-Bold.eot?#iefix') format('embedded-opentype'),  url('Cabin-Bold.otf')  format('opentype'),
         url('Cabin-Bold.woff') format('woff'), url('Cabin-Bold.ttf')  format('truetype'), url('Cabin-Bold.svg#Cabin-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cabin-Regular';
  src: url('Cabin-Regular.eot?#iefix') format('embedded-opentype'),  url('Cabin-Regular.otf')  format('opentype'),
         url('Cabin-Regular.woff') format('woff'), url('Cabin-Regular.ttf')  format('truetype'), url('Cabin-Regular.svg#Cabin-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

$font-cabin-regular: 'Cabin-Regular';
$font-cabin-bold: 'Cabin-Bold';
$font-times-regular: 'TimesNewRomanPSMT';

$font__main: $font-cabin-regular;
$font__code: $font-cabin-regular;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
