
@font-face {
  font-family: 'Cabin-Bold';
  src: url('Cabin-Bold.eot?#iefix') format('embedded-opentype'),  url('Cabin-Bold.otf')  format('opentype'),
	     url('Cabin-Bold.woff') format('woff'), url('Cabin-Bold.ttf')  format('truetype'), url('Cabin-Bold.svg#Cabin-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
