#masthead {
    background-color: $white;
    color: #000;
    &:after {
        content: '';
        display: block;
        height: 2px;
        background-color: $red;
    }
    .flex-wrapper {
        display:flex;
        flex-wrap: no-wrap;
        justify-content: space-between;
        align-items: center;
        .flex-item {
            flex: 1 1 50%;
        }
        .site-branding {
            max-width: em(225);
        }
        .phone-wrapper {
            text-align: right;
            .masthead-tel {
                font-family:$font-times-regular;
                font-style: italic;
                a {
                    color: $red;
                    text-decoration: none;
                }
                span {
                    font-family: $font-cabin-bold;
                    font-style: normal;
                }
            }
            .main-navigation li {
                padding: 20px;
                font-size: 1.3em;
                a{
                    color: $blackness;
                }
                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }
    @include respond-to(iphone) {
        .flex-wrapper {
            padding: 0 em(10) em(10) em(10);
            margin-bottom: em(10);
            .masthead-tel {
                visibility: collapse;
                padding-bottom: em(10);
                span {
                    visibility: visible;
                    font-size: 1.1em;
                }
            }
        }
    }
    @include respond-to(mobile) {
        #logo img {
            padding-top: em(20);
        }
    }
    @include respond-to(tablet) {
        .flex-wrapper {
            padding: em(20);
            #logo img {
                padding-top: 0;
            }
            .masthead-tel {
                visibility: visible;
                font-size: 1.3em;
                span {
                    font-size: 1.4em;
                }
            }
        }
    }
    @include respond-to(desktop) {
        .flex-wrapper {
            padding: em(20) em(20) 0 em(20);
            .phone-wrapper {
                .main-navigation li {
                    font-size: 1.5em;
                }
                .masthead-tel {
                    padding-bottom: 0;
                    font-size: 1.5em;
                }
            }
        }
    }
}